@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
/*SUBTITULOS Y CUERPO font-family: "Montserrat", sans-serif
TITULOS font-family: "Oswald", sans-serif*/

/*Reseteo*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	width: 100%;
}
ul {
	list-style: none;
}
main {
	background-color: #dafdff;
}
/*Header*/
.encabezado {
	background-image: linear-gradient(
		0,
		#dafdff 0,
		#afe7ff 16.67%,
		#7ecefb 33.33%,
		#3cb5f2 50%,
		#009ce9 66.67%,
		#0084e0 83.33%,
		#006ed7 100%
	);
	display: flex;
	flex-wrap: wrap;
}
.logo-titulos-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 2em;
}
.logo-jh {
	width: 100%;
	height: auto;
}
.titulos-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.titulo-ppal {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 8em;
	color: #1d2396;
	text-shadow: 2px 2px 4px #0000004d;
}
.subtitulo-ppal {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 4em;
	color: #065988;
}
.menu-container {
	width: 100%;
}
.menu-lista {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10em;
	align-items: center;
	background-color: #1a1048;
}
.menu-lista-item {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 2em;
	color: white;
}
.menu-lista-item:hover {
	color: #1d2396;
}

/*Footer*/
.pie {
	background-image: radial-gradient(
		circle at 37.72% -19.64%,
		#dafdff 0,
		#afe7ff 16.67%,
		#7ecefb 33.33%,
		#3cb5f2 50%,
		#009ce9 66.67%,
		#0084e0 83.33%,
		#006ed7 100%
	);
	display: flex;
	flex-wrap: wrap;
}
.redes-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 3em;
	padding: 1em;
	margin-bottom: 0.5em;
}
.fa-icono {
	font-size: 3em;
}

/*Propiedades en comun*/
h3 {
	font-family: "Oswald", sans-serif;
	font-size: 4em;
	color: #dafdff;
	background-color: #1a1048;
	padding: 0px 10px;
	text-align: center;
}
h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.5em;
	font-weight: 600;
	font-style: italic;
	margin-top: 1.5em;
}
p {
	font-family: "Montserrat";
	font-size: 1.7em;
	font-weight: 200;
}
/*Main index*/
.obra3-container {
	background-color: #d3fcfe;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.obra3-img-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.obra3 {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
}
.carousel-obra3-container {
	max-width: 80%;
	margin: auto;
}
.carousel-aranceles-container {
	max-width: 70%;
	margin: auto;
}
.carousel-galeria-container {
	max-width: 60%;
	margin: auto;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 860px) {
	.titulo-ppal {
		font-size: 5em;
	}
	.subtitulo-ppal {
		font-size: 2.5em;
	}
	.logo-jh {
		width: 50%;
		height: auto;
	}
	.menu-lista-item {
		font-size: 1.5em;
	}
	.menu-lista {
		gap: 3em;
	}
	h3 {
		font-size: 2.4em;
	}
	h4 {
		font-size: 2em;
	}
	p {
		font-size: 1.4em;
		font-weight: 300;
	}
}
@media only screen and (max-width: 480px) {
	.titulo-ppal {
		font-size: 3.5em;
	}

	.subtitulo-ppal {
		font-size: 2em;
	}
	.logo-jh {
		margin: 0;
	}
}
@media only screen and (max-width: 210px) {
	.titulo-ppal {
		font-size: 2em;
	}

	.subtitulo-ppal {
		font-size: 1em;
	}
}
