.act-info-container{
	text-align: center;
	background-color: #3cb5f2;
}
.act-info-item{
	font-family: "Montserrat";
	font-size: 2em;
}
.act-artesmar{
	font-weight: 600;
}
.act-artesmar-container{
	font-size: 1.7em;
	font-weight: 200;
}