.hash-tienda {
	font-family: "oswald", sans-serif;
	font-size: 2em;
}
.video-tienda {
	width: 20em;
	height: auto;
}
.ropa {
	width: 15em;
	height: auto;
}

.hash-tienda{
    font-family: $font-principal;
    font-size: $font-s;
}